{% load staticfiles %}
<html>
	<head>
        <title>django-chartjs line chart demo</title>
	</head>
	<body>
        <h1>Some Line Charts loaded in Ajax!</h1>
        
        <canvas id="myChart" width="500" height="400"></canvas>

        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
        <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
        <script type="text/javascript">
            $.get('{% url 'line_chart_json' %}', function(data) {
                var ctx = $("#myChart").get(0).getContext("2d");
                new Chart(ctx).Line(data);
            });
        </script>
    </body>
</html>
